# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js build
.next/
out/
build/
dist/
.vercel/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env/
*.egg-info/
.installed.cfg
*.egg

# Ignore vector DB, model, and cache directories
Backend/chroma_db/
*.bin
*.pickle
*.pt
*.h5
*.ckpt
*.onnx
*.tar.gz
*.zip
*.npz
*.npy
/tmp
model/
models/
cache/
/.cache/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo